/* Add CSS Styling */
.odd{
    background-color: rgb(244, 107, 107);
    font-family: "Verdana", "DejaVu Sans", sans-serif
}

.odd-font{
    font-size: 24px;
}

#even-1{
    color: rgb(35, 35, 221);
    font-size: 36px;
}

#even-2{
    background-color: rgb(109, 227, 25);
    font-size: 24px;
    font-weight: bold;
}